# Git
.git
.github

# Dependencias de Node y Composer (se instalan dentro de Docker)
node_modules
vendor

# Archivos de caché de Laravel que pueden depender del entorno
bootstrap/cache/*.php
# bootstrap/cache/packages.php
# bootstrap/cache/services.php
# bootstrap/cache/config.php # Estos se generan dentro del contenedor si APP_ENV=production

# Archivos de logs locales
storage/logs/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivo .env local (se gestiona con --env-file o variables de entorno de Railway)
.env
.env.*
!.env.example # Excluye .env y .env.* PERO incluye .env.example

# Otros archivos específicos de IDE o sistema operativo
.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
